body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid {
  display: grid;
  grid-template: repeat(21, 1fr) / repeat(21, 1fr);
  width: 98.4vmin;
  height: 98.4vmin;
  background-color: #000;
  gap: .8vmin;
  padding: .8vmin;
}

.score-element {
  color: hsl(0, 0%, 100%);
  position: fixed;
  margin: 0;
  transform: translate(1vmin, 1vmin);
  font-family: sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  z-index: 1;
}

.snake-segment {
  background-color: var(--color-snake);
}

.snake-head {
  background-color: var(--color-snake-head);
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.snake-head.up {transform: rotate(0deg);}
.snake-head.left {transform: rotate(270deg);}
.snake-head.down {transform: rotate(180deg);}
.snake-head.right {transform: rotate(90deg);}

.snake-eye {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
}

.snake-pupil {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #000;
  margin-bottom: 40%;
}

.food-segment {
  background-color: var(--color-food);
}

.homescreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 2;
}

.home-screen {
  width: 100vw;
  height: 100vh;
  background-image: none; /* NOG DOEN */
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-screen__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-screen__content > * {
  margin: 0;
}

.title {
  font-size: 6rem;
  margin-bottom: .4em;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container > button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  padding: .4em;
  width: 100%;
  cursor: pointer;
}

.button-container > button:hover {
  text-decoration: underline 2px solid #000;
}









.settings-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.settings-screen__content {
  width: min(80%, 800px);
  height: 90vh;
  margin-top: 10vh;
}

.back-arrow {
  font-size: 1rem;
}

h2 {
  font-size: 3.5rem;
  margin: 0;
  margin-top: .5rem;
  margin-bottom: 1em;
}

.setting-block {
  border: 2px solid rgb(120, 120, 120);
  margin: 1em 0 0 0;
  display: flex;
  align-items: center;
  padding: 1em;
}

.setting-block > * {
  margin: 0 1em;
}