:root {
  --color-white-light: hsl(0, 0%, 100%);
  --color-white-dark: hsl(237, 79%, 95%);
  --color-black: hsl(0, 0%, 5%);
  --color-blue-light: hsl(237, 79%, 14%);
  --color-blue-dark: hsl(237, 79%, 11%);
}

body {
  margin: 0;
  font-family: sans-serif;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--color-blue-dark);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 4em;
  width: 20em;
  transform: translate(20em, 0);
  transition: translate 250ms ease-out;
  max-width: 100vw;
  height: 100vh;
}

@media(max-height: 480px) {nav, header {font-size: .9rem;}}
@media(max-height: 380px) {nav, header {font-size: .8rem;}}
@media(max-height: 335px) {nav, header {font-size: .7rem;}}
@media(max-height: 290px) {nav, header {font-size: .6rem;}}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 4em;
  background-color: var(--color-blue-dark);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-burger-img {
  height: 2em;
  padding: 1em;
  cursor: pointer;
}

.header__title {
  color: var(--color-white-dark);
  padding: 0 0 0 1em;
  line-height: 4em;
  text-decoration: none;
  cursor: pointer;
}

.nav__close-img {
  align-self: center;
  justify-self: flex-end;
  height: 1.6em;
  padding: 1.2em;
  cursor: pointer;
  transition: background-color 200ms linear;
}



.nav__close-img:hover {
  background-color: var(--color-blue-light);
}

.nav__link {
  color: var(--color-white-dark);
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  transition: background-color 200ms linear;
}

.nav__link__img {
  width: 2em;
  margin: 0 1em 0 1em;
}

.nav__link:hover {
  background-color: var(--color-blue-light);
}