html {
  font-family: sans-serif;
}

body {
  background-color: var(--background-primary);
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  justify-content: center;
  align-items: flex-start;
}

* {
  margin: 0;
}

:root {
  --background-primary: hsl(0, 0%, 3%);
  --background-secondary: hsl(0, 0%, 8%);
  --text-color-primary: hsl(0, 0%, 85%);
}

h2 {
  margin-top: 0.4em;
  font-size: 3rem;
  color: var(--text-color-primary);
  margin-bottom: 1em;
}

@media(max-width: 600px) {
  h2 {
    font-size: 2.6rem;
  }
}

@media(max-width: 500px) {
  h2 {
    font-size: 2.4rem;
  }
}

@media(max-width: 400px) {
  h2 {
    font-size: 2.3rem;
  }
}

h3 {
  color: var(--text-color-primary);
  font-size: 1.5rem;
  margin-top: .8rem;
  margin-bottom: .8rem;
}

span {
  font-weight: bold;
}

p {
  color: var(--text-color-primary);
  margin-bottom: .2em;
}

.back-button {
  background-color: var(--background-secondary);
  border-radius: .4em;
  color: var(--text-color-primary);
  border: none;
  padding: .5em 2em .5em 1em;
  cursor: pointer;
  width: max-content;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 200ms, color 200ms;
}

.back-button:hover {
  background-color: var(--text-color-primary);
  color: var(--background-secondary);
}