.play-screen {
  width: 80vw;
  padding-top: 8em;
  display: flex;
  flex-direction: column;
}

.gamemodes-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2em 0;
  margin-bottom: 5em;
}

.gamemode-card {
  width: 19em;
  max-width: 80vw;
  padding: .5em;
  margin: .5em;
  border-radius: .4em;
  background-color: var(--background-secondary);
  color: var(--text-color-primary);
}

.gamemode-card__playbutton {
  margin-top: 1.5em;
  border: none;
  width: 100%;
  font-weight: bold;
  height: 3em;
  background-color: var(--text-color-primary);
  font-size: 1rem;
  border-radius: .4em;
  cursor: pointer;
  transition: background-color 200ms, color 200ms;
}

.gamemode-card__playbutton:hover {
  background-color: var(--background-primary);
  color: var(--text-color-primary);
}

.gamemode-card__img {
  width: 100%;
  border-radius: .4em;
}